<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="rest.o.gram"
          android:versionCode="3"
          android:versionName="3.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location" android:required="true"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16"/>

    <application android:name=".application.RestogramApplication" android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher" android:debuggable="true"
                 android:theme="@android:style/Theme.Black.NoTitleBar">

        <activity android:name=".activities.HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.FindMeActivity"
                  android:label="Find Me">
        </activity>

        <activity android:name=".activities.NearbyActivity"
                  android:label="Nearby">
        </activity>

        <activity android:name=".activities.VenueActivity"
                  android:label="Venue">
        </activity>

        <activity android:name=".activities.PhotoActivity"
                  android:label="Photo">
        </activity>

        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService" />

        <receiver android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver" android:exported="true" />

    </application>
</manifest>
